.momentSelected
{
    border-radius:0 0 10px 10px; 
    border: 1px solid rgba(147,201,255,1);
    margin: 0 -1px 6px -1px;
}

.momentHeader
{
    border: 1px solid rgba(147,201,255,1);
    border-radius:10px; 
    padding: 4px; 
    color: white; 
    clear:both; 
    margin: 0 -1px 5px -1px;

    background: rgb(147,201,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(147,201,255,1) 0%, rgba(96,171,248,1) 45%, rgba(64,150,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,201,255,1)), color-stop(45%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(147,201,255,1) 0%,rgba(96,171,248,1) 45%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(147,201,255,1) 0%,rgba(96,171,248,1) 45%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(147,201,255,1) 0%,rgba(96,171,248,1) 45%,rgba(64,150,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(147,201,255,1) 0%,rgba(96,171,248,1) 45%,rgba(64,150,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c9ff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

.momentHeader a
{
    color: white;
}

.momentHeader a.accordion-toggle
{
    font-size: 20px;
}

.momentHeaderSelected
{
    border-radius:10px 10px 0px 0px; 
    margin: 0 -1px 0 -1px;
}

.promptBlock
{
    border: 1px solid rgba(200,200,200,1); 
    border-radius:10px; 
    padding: 10px;
    margin: 0 0 10px 0;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */

}

.promptHeader
{
    border-radius:10px 10px 0px 0px; 
    background-color: #049cdb; 
    padding: 10px 10px 1px 10px;
    margin: -10px -10px 6px -10px;
}